@font-face {
  font-family: yofont;
  src: url("/course-footballSNS/images/iconfont/iconfont.woff") format("woff"), url("/course-footballSNS/images/iconfont/iconfont.ttf") format("truetype");
}

@font-face {
  font-family: yofont;
  src: url("/course-footballSNS/images/iconfont/iconfont-menu.woff") format("woff"), url("/course-footballSNS/images/iconfont/iconfont-menu.ttf") format("truetype");
}

@font-face {
  font-family: yofont;
  src: url("/course-cake/images/iconfont/iconfont-cake.woff") format("woff"), url("/course-cake/images/iconfont/iconfont-cake.ttf") format("truetype");
}


@font-face {
  font-family: yofont;
  src: url("/course-cake/images/iconfont/iconfont-car.woff") format("woff"), url("/course-cake/images/iconfont/iconfont-car.ttf") format("truetype");
}

